<div class="container">
	<div class="row">
		<div class="col-xs-12">
			<h1>Pull Requests</h1>
		</div>
	</div>
	<div class="row">
		<div class="col-xs-12">
			<div class="jumbotron container-padding">
				<form (ngSubmit)="loadProjects()">
					<div class="form-group">
						<label for="accountInput">VSTS Account (https://{account}.visualstudio.com/)</label>
						<input type="text" [(ngModel)]="account" class="form-control" name="accountInput" placeholder="{account}" required />
					</div>
					<div class="form-group">
						<label for="usernameInput">User name</label>
						<input type="text" [(ngModel)]="username" class="form-control" name="usernameInput" placeholder="User name" required />
					</div>
					<div class="form-group">
						<label for="passwordInput">Password</label>
						<input type="password" [(ngModel)]="password" class="form-control" name="passwordInput" placeholder="Password" required />
					</div>
					<button type="submit" class="btn btn-primary">Login</button>
				</form>
			</div>
		</div>
	</div>
	<div *ngIf="projects && projects.length > 0" class="row">
		<div class="col-xs-12">
			<div class="jumbotron container-padding">
				<form>
					<div class="form-group">
						<label for="projectSelect">Project</label>
						<select [(ngModel)]="selectedProjectId" (change)="onSelectedProjectChange($event)" name="projectSelect">
							<option *ngFor="let project of projects" [value]="project.id">{{project.name}}</option>
						</select>
					</div>
					<div class="form-group">
						<label for="repositorySelect">Repository</label>
						<select [(ngModel)]="selectedRepositoryId" name="repositorySelect" [disabled]="!repositories || repositories.length < 1">
							<option *ngFor="let repository of repositories" [value]="repository.id">{{repository.name}}</option>
						</select>
					</div>
					<button type="button" (click)="loadPullRequests()" class="btn btn-primary"
						[disabled]="!selectedProjectId || !selectedRepositoryId">Load Pull Requests</button>
				</form>
			</div>
		</div>
	</div>
	<hr />
	<div *ngIf="errors && errors.length > 0" class="row">
		<div class="col-xs-12">
			<div class="jumbotron container-padding">
				<div *ngFor="let error of errors" class="bg-danger">
					{{error}}
				</div>
			</div>
		</div>
	</div>
	<pull-request *ngFor="let pullRequest of pullRequests" [pullRequest]="pullRequest"></pull-request>
</div>